<div class="row">   
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">

              
                    <thead>
                        <tr>
                            <th>contact Person Name</th>
                            <th> company Name </th>
                            <th>address</th>
                            <th>city</th>                           
                            <th>contactNo</th>
                           <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of clientList">
                            <td>{{c.contactPersonName}}</td>
                            <td>{{c.companyName}}</td>
                            <td>{{c.address}}</td>
                            <td>{{c.city}}</td>
                            <td>{{c.contactNo}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="onEdit(c)">Edit</button>
                                <button class="btn btn-primary" (click)="onDelete(c.clientId)">Delete</button>
                            </td>
                        </tr>
                        
                    </tbody>
               
                </table>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
<div class="col-4">
    <div class="card">
        <div class="card-header bg-success">
            New Client
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <label for="">contactPersonName</label>
                    <input type="text" [(ngModel)]="clientObj.contactPersonName" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">companyName</label>
                    <input type="text" [(ngModel)]="clientObj.companyName" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">address</label>
                    <input type="text" [(ngModel)]="clientObj.address" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">city</label>
                    <input type="text" [(ngModel)]="clientObj.city" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">pincode</label>
                    <input type="text" [(ngModel)]="clientObj.pincode" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">state</label>
                    <input type="text" [(ngModel)]="clientObj.state" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">EmployeeStrength</label>
                    <input type="text" [(ngModel)]="clientObj.employeeStrength" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">contactNo</label>
                    <input type="text" [(ngModel)]="clientObj.contactNo" class="form-control">
                </div>               
                <div class="col-6">
                    <label for="">gstNo</label>
                    <input type="text" [(ngModel)]="clientObj.gstNo" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">regNo</label>
                    <input type="text" [(ngModel)]="clientObj.regNo" class="form-control">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-6 text-center" >
                    <button class="btn btn-secondary">Reset
                    </button>
                </div>
                <div class="col-6 text-center">
                    <button class="btn btn-success" (click)="onSaveClient()">{{clientObj.clientId==0?'Add Client':'Update Client'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>