<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="margin-top:16px;">
    <div class="container-fluid">
    
      <ul class="navbar-nav me-auto" style="visibility: visible;">
        <li class="nav-item" style="margin-top: -12px;"><a class="nav-link " routerLinkActive="'active'" routerLink="/master">Home</a></li>
        <li class="nav-item" style="margin-top: -12px;"><a class="nav-link " routerLinkActive="'active'" routerLink="/employee">About us</a></li>
        <li class="nav-item" style="margin-top: -12px;"><a class="nav-link" routerLinkActive="'active'" routerLink="/client">Contact Us</a></li>
      </ul>
      <div class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" fdprocessedid="lhh0g">
        </div>
        <button type="button" class="btn btn-default">Submit</button>
      </div>
    </div>
  </nav>
  <div class="container">

    <router-outlet></router-outlet>
  </div>
  